.forgotPasswordBody{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction:row;
}

.leftPanel{
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.rightPanel{
    height: 100vh;
    width: 70vw;
    background-color: lightgray;
}

.hl{
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 30px;
    width: 100%;
}

.h1{
    margin-top: 30%;
    margin-bottom: 50px;
    color: #4856df !important;
}

.order{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.button{
    background-color: #4856df !important;
    width: 200px;
    height: 60px;
    font-size: 14px;
}
  
.button:hover{
    background-color: white !important;
    border-color: #4856df !important;
    color: #4856df !important;
}

.h3{
    margin-top: 50px;
    margin-bottom: 50px;
}

.panelImage{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 60%;
}

@media (max-width: 1370px){
    .rightPanel{
        display: none;
    }
}