.landpage{
    background-image: url('../../assets/images/landpage.jpg');
    height: 100vh;
}
.headerLandpage{
    color: #666ba2;
    font-weight: 400;
}

.chart{
    background: transparent;
    height: 300px;
    width: 600px;
    border-radius: 30px;
    margin-left: 200px;
    margin-top: 50px;
    padding: 40px;
}

.landpage footer{
    align-items: ce;
}

footer{
    position: absolute;
    bottom: 20px;
    left: 50%;
}

footer p {
    color: #666ba2;
}

.landPageButtons{
    position: absolute;
    right: 30px;
    border: 2px solid #666ba2;
    background-color: transparent;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    color: #666ba2;
    font-size: 18px;
}

.landPageButtons:hover{
    background-color: #666ba2;
    color: white;
}
