.navbar{
    background-color: #4856df;
    display: flex;
    flex-direction: row;
    height: 120px;
    align-items: center;
    position: relative;
    top: 0;
}

#navbarLogo{
    width: 50px;
    height: 100px;
    margin-left: 30px;
}

.headerNavbar{
    color: #666ba2;
    font-weight: 400;
}

.navbarButton{
    position: absolute;
    right: 30px;
    border: 2px solid #666ba2;
    background-color: transparent;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    color: #666ba2;
    font-size: 18px;
}

.navbarButton:hover{
    background-color: #666ba2;
    color: white;
}

.navbrand{
    color: white !important;
}